.loader {
    border-top: 16px solid #ff751a;
}

.loading-container {
    text-align: center;
}

.background-loading {
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(white,.75);
    z-index:9999;
    display:none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}